<%- include('../layouts/adminhomeHeader.ejs') %>

<div id="page-wrapper">
    <div class="main-page">
    <div class="col_3">
    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-dollar icon-rounded"></i>
            <div class="stats">
              <h5><strong>$<%= totalPrice %></strong></h5>
              <span>Total Revenue</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-shopping-cart user1 icon-rounded"></i>
            <div class="stats">
              <h5><strong><%= productCount %></strong></h5>
              <span>Total Products</span>
            </div>
        </div>
    </div>
   
    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-truck dollar1 icon-rounded"></i>
            <div class="stats">
              <h5><strong><%= orderCount %></strong></h5>
              <span>Total Orders</span>
            </div>
        </div>
     </div>
     <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-money icon-rounded"></i>
            <div class="stats">
              <h5><strong><%= sales %></strong></h5>
              <span>Total Sales</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 widget">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
            <div class="stats">
              <h5><strong><%= userCount %></strong></h5>
              <span>Total Users</span>
            </div>
        </div>
     </div>
     
    <div class="clearfix"> </div>
</div>



<div class="row-one widgettable">
    <div class="col-md-7 content-top-2 card">
        <div class="agileinfo-cdr">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Monthly Sales</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <form class="form-inline">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            
            
                <div id="Linegraph" style="width: 98%; height: 350px">
                </div>
                
        </div>
    </div>
    
    <div class="col-md-3 stat">
        <div class="content-top-1">
        <div class="col-md-6 top-content">
            <h5><a href="/topProducts" style="color: black;">Best Selling Products</h5></a>
        </div>
        
         <div class="clearfix"> </div>
        </div>
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5><a href="/topCategory" style="color: black;">Best Selling Categories</h5></a>
            </div>
            
             <div class="clearfix"> </div>
            </div>
        
        
    </div>
    <div class="clearfix"> </div>
</div>

<div class="forms">    
    <div class=" form-grids row form-grids-right">
        
            
            <div class="form-body">
                <form class="form-horizontal" action="/salesReport" method="POST"> 
                    <div class="form-group"> 
                        <label for="category" class="col-sm-2 control-label">View Sales</label> 
                        <div class="col-sm-9"> <select name="timeRange" id="" class="form-control">                                
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="yearly">Yearly</option>
                        </select></div> 
                    </div>                                                                            
                    <div class="col-sm-offset-2"> 
                        <button type="submit" class="btn btn-default">Sumbit</button> 
                    </div> 
                </form>                
            </div>
            <div class="form-body">
                <form class="form-horizontal" action="/dateSales" method="POST"> 
                    <div class="form-group"> 
                        <label for="startDate" class="col-sm-2 control-label">Start Date</label> 
                        <div class="col-sm-9">
                            <input type="date" name="fromDate" class="form-control">
                        </div> 
                    </div>
                    <div class="form-group"> 
                        <label for="endDate" class="col-sm-2 control-label">End Date</label> 
                        <div class="col-sm-9">
                            <input type="date" name="toDate" class="form-control">
                        </div> 
                    </div>                                                                            
                    <div class="col-sm-offset-2"> 
                        <button type="submit" class="btn btn-default">Submit</button> 
                    </div> 
                </form>                
            </div>
            
        
    </div>
</div>
        
        
        

<!-- for amcharts js -->
    <script src="js/amcharts.js"></script>
    <script src="js/serial.js"></script>
    <script src="js/export.min.js"></script>
    <link rel="stylesheet" href="css/export.css" type="text/css" media="all" />
    <script src="js/light.js"></script>
<!-- for amcharts js -->

<script  src="js/index1.js"></script>



        
    </div>
</div>
<script src="/admin/js/SimpleChart.js"></script>

<script>
    
     var sales = {
         linecolor: "#00CC66",
         title: "Tuesday",
        
         values: [
           { X: "<%= month[0] %>", Y: "<%= Sales[0] %>" },
           { X: "<%= month[1] %>", Y: "<%= Sales[1] %>" },
         ]
     };
     var revenue = {
         linecolor: "#FF99CC",
         title: "Wednesday",
         values: [
           { X: "<%= month[0] %>", Y: "<%= Revenue[0] %>" },
           { X: "<%= month[1] %>", Y: "<%= Revenue[1] %>" },
         ]
     };
     
     $("#Linegraph").SimpleChart({
             ChartType: "Line",
             toolwidth: "50",
             toolheight: "25",
             axiscolor: "#E6E6E6",
             textcolor: "#6E6E6E",
             showlegends: false,
             data: [sales, revenue],
             legendsize: "140",
             legendposition: 'bottom',
             xaxislabel: 'Month',
             title: 'Monthly Revenue',
             yaxislabel: 'Revenue in ₹'
         });
</script>

<%- include('../layouts/adminFooter.ejs') %>