<%- include('../layouts/header.ejs') %>

  <section class="p-5">
    <div class="container">
      <nav aria-label="breadcrumb" style="background-color: white;" class="mb-5">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
      </nav>
      <div class="cart_inner">
        <% if (!(carts && carts.products && carts.products.length> 0)) { %>
          <img src="/img/empty_cart.jpg" alt="">
          <% } else { %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr> <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% let subtotal=0 %>
                <% if (carts && carts.products) { %>
                  <% carts.products.forEach((cart,index)=> { %>
                    <% const total=cart.productId.price * cart.quantity %>
                      <% subtotal +=total %>
                        <tr>
                          <td>
                            <div class="media">
                              <div class="d-flex">
                                <img src="/uploads/<%= cart.productId.images[0] %>" alt="img" />
                              </div>
                              <div class="media-body">
                                <p>
                                  <%= cart.productId.name %>
                                </p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <h5>₹<%= cart.productId.price %>
                            </h5>
                          </td>
                          <td>
                            <form>
                              <input type="hidden" name="id" value="<%= cart.productId._id %>">
                              <input type="hidden" name="quantity" value="<%= cart.quantity %>">
                              <% if(cart.productId.stock> 0) { %>
                                <button class="bg-danger mr-3" type="button" name="action" value="decrease" onclick="decreaseQuantity('<%= cart.productId._id %>')">-</button>
                                <input type="number" id="quantityInput_<%= cart.productId._id %>" value="<%= cart.quantity %>" max="<%= cart.productId.stock %>" data-price="<%= cart.productId.price %>"style="width: 40px;">
                                  <button class="bg-success ml-3 increase-btn" type="button"
                                    name="action" value="increase" onclick="increaseQuantity('<%= cart.productId._id %>')">+</button> <br>
                                    <span id="maxStockError_<%= cart.productId._id %>" class="text-danger" style="display: none;">Maximum stock reached</span>
                                    <% productError.forEach(error => { %>
                                      <% if (error.id === cart.productId._id.toString()) { %>
                                          <span class="text-danger"><%= error.message %></span>
                                      <% } %>
                                  <% }) %>
                                    
                                  <% } else { %>
                                    <span class="text-danger">Out of stock</span>
                                    <% } %>
                            </form>
                          </td>
                          <td>
                            <h5 id="total_<%= cart.productId._id %>">₹<%= total %>
                            </h5>
                          </td>
                          <td><a href="/removecart?id=<%= carts._id %>&productId=<%= cart.productId._id %>"
                              class="text-danger"><i class="fa fa-trash "></i></a></td>
                        </tr>
                        <!-- <tr class="bottom_button">
                <td>
                  <a class="btn_1" href="#">Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="#">Close Coupon</a>
                  </div>
                </td>
              </tr> -->
                        <% }) %>
                          <% } else { %>
                            <p>No items in the cart.</p>
                            <% } %>
                              <tr>
                                <td></td>
                                <td></td>
                                <td>
                                  <h5>Subtotal</h5>
                                </td>
                                <td>
                                  <h5 id="subtotal">₹<%= subtotal %>
                                  </h5>
                                </td>
                              </tr>
                              <!-- <tr class="shipping_area">
                <td></td>
                <td></td>
                <td>
                  <h5>Shipping</h5>
                </td>
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                      <li>
                        Flat Rate: $5.00
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                      <li>
                        Free Shipping
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                      <li>
                        Flat Rate: $10.00
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                      <li class="active">
                        Local Delivery: $2.00
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                    </ul>
                    <h6>
                      Calculate Shipping
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </h6>
                    <select class="shipping_select">
                      <option value="1">Bangladesh</option>
                      <option value="2">India</option>
                      <option value="4">Pakistan</option>
                    </select>
                    <select class="shipping_select section_bg">
                      <option value="1">Select a State</option>
                      <option value="2">Select a State</option>
                      <option value="4">Select a State</option>
                    </select>
                    <input class="post_code" type="text" placeholder="Postcode/Zipcode" />
                    <a class="btn_1" href="#">Update Details</a>
                  </div>
                </td>
              </tr> -->
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="/productlist">Continue Shopping</a>
            <% if(carts && carts.products && carts.products.length> 0) { %>
              <% const outOfStock=carts.products.some((cart)=>cart.productId.stock===0) %>
                <% console.log("outOfStock" , outOfStock) %>
                  <% if(outOfStock){ %>
                    <span class="btn_1 disabled">Proceed to checkout</span>
                    <% } else { %>
                      <a class="btn_1 checkout_btn_1" href="/checkout">Proceed to checkout</a>
                      <% } %>
                        <% } else { %>
                          <span class="btn_1 disabled">Proceed to checkout</span>
                          <% } %>
          </div>
        </div>
        <% } %>
      </div>
  </section>
  <script>
    const increaseQuantity = async (productId) => {
      try {
        const quantityInput = document.getElementById(`quantityInput_${productId}`);
        const currentQuantity = parseInt(quantityInput.value);
        const maxStock = parseInt(quantityInput.max);
        const maxStockError = document.getElementById(`maxStockError_${productId}`);
        if (currentQuantity >= maxStock) {
          maxStockError.style.display = 'inline'
          return;
        }
        maxStockError.style.display = 'none';
        quantityInput.value = currentQuantity + 1;
        updateTotals(productId, currentQuantity + 1);
        const response = await fetch('/editquantity', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id: productId,
            action: 'increase'
          })
        });
        if (!response.ok) {
          throw new Error('Failed to increase quantity');
        }
      } catch (error) {
        console.error(error.message);
      }
    };

    const decreaseQuantity = async (productId) => {
      try {
        const quantityInput = document.getElementById(`quantityInput_${productId}`);
        const currentQuantity = parseInt(quantityInput.value);

        if (currentQuantity <= 1) {
          // Minimum quantity reached
          return;
        }

        // Update UI immediately
        quantityInput.value = currentQuantity - 1;
        updateTotals(productId, currentQuantity - 1);
        const response = await fetch('/editquantity', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id: productId,
            action: 'decrease'
          })
        });
        if (!response.ok) {
          throw new Error('Failed to decrease quantity');
        }
      } catch (error) {
        console.error(error.message);
      }
    };
    const updateTotals = (productId, newQuantity) => {
      const quantityInput = document.getElementById(`quantityInput_${productId}`);
      const price = parseFloat(quantityInput.dataset.price);
      const totalElement = document.getElementById(`total_${productId}`);
      const subtotalElement = document.getElementById('subtotal');

      // Update total for the specific product
      const total = price * newQuantity;
      totalElement.textContent = `₹${total}`;

      // Update subtotal
      const allTotalElements = document.querySelectorAll('[id^="total_"]');
      let subtotal = 0;
      allTotalElements.forEach((element) => {
        subtotal += parseFloat(element.textContent.replace('₹', ''));
      });
      subtotalElement.textContent = `₹${subtotal}`;
    };
  </script>




  <%- include('../layouts/footer.ejs') %>