<%- include('../layouts/header.ejs') %>

  <section class="p-4">
    <div class="container">
      <nav aria-label="breadcrumb" style="background-color: white;" class="mb-5">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </nav>
      <!-- <div class="cupon_area">
        <div class="check_title">
          <h2>
            Have a coupon?
            <a href="#">Click here to enter your code</a>
          </h2>
        </div>
        <input type="text" placeholder="Enter coupon code" />
        <a class="tp_btn" href="#">Apply Coupon</a>
      </div> -->
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
            <form class="row contact_form" id="submitForm">
              <input type="hidden" name="userId" value="<%= users._id %>">
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="first" name="name" value="<%= users.name %>" readonly />
              </div>
              <div class="col-md-6 form-group p_star">
                <!-- <input type="text" class="form-control" id="last" name="name" />
                <span class="placeholder" data-placeholder="Last name"></span> -->
              </div>

              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="number" name="mobile" value="<%= users.mobile %>"
                  readonly />

              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="email" name="email" value="<%= users.email %>" readonly />
              </div>
              <div class="payment_item active">
                <% users.address.forEach((address, index)=> { %>
                  <div class="radion_btn">
                    <input type="radio" id="f-option<%= index %>" name="address" required
                      value="<%= JSON.stringify(address) %>" <% if (index===0) { %>checked<% } %>/>
                      <label for="f-option<%= index %>">
                        <%= address.buildingName %> , <%= address.city %> , <%= address.district %> , <%=
                                address.ZIPcode %>
                      </label>
                      <div class="check"></div>
                  </div>
                  <% }) %>
                    <a href="/addAddress" class="text-primary">+Add new address</a>
              </div>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                <% let subtotal=0 %>
                  <% let allInStock=true %>
                    <% carts.products.forEach((cart)=> { %>
                      <% const total=cart.productId.price * cart.quantity %>
                        <% subtotal +=total %>
                          <li>
                            <a href="#">
                              <%= cart.productId.name %>
                                <% if(cart.productId.stock===0){ %>
                                  <% allInStock=false %>
                                    <span class="text-danger">Out of stock</span>
                                    <% } else { %>
                                      <span class="middle">x <%= cart.quantity %></span>
                                      <span class="last">₹<%= total %></span>
                                      <% } %>
                            </a>
                          </li>
                          <% }) %>
              </ul>
              <% if(allInStock){ %>
                <ul class="list list_2">
                  <li>
                    <a href="#">Subtotal
                      <span>₹<%= subtotal %></span>
                    </a>
                  </li>
                  <!-- <li>
                  <a href="#">Shipping
                    <span>Flat rate: $50.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                    <span>$2210.00</span>
                  </a>
                </li> -->
                </ul>

                <div class="payment_item">
                  <div class="radion_btn">
                    <input type="radio" id="f-option5" name="payment" value="COD" />
                    <label for="f-option5">Cash on Delivery</label>
                    <div class="check"></div>
                  </div>

                </div>

                <div class="payment_item active">
                  <div class="radion_btn">
                    <input type="radio" id="f-option6" name="payment" value="onlinePayment" />
                    <label for="f-option6">Online Payment </label>
                    <div class="check"></div>
                  </div>
                </div>

                <input type="hidden" name="products" value="<%= JSON.stringify(carts.products) %>">
                <input type="hidden" name="amount" value="<%= subtotal %>">

                <button type="submit" class="genric-btn success-border form-control" id="vp">Confirm Order</button>
                <% if (errorMessages && errorMessages.length> 0) { %>
                  <ul>
                    <% errorMessages.forEach((message)=> { %>
                      <% console.log(message) %>
                        <li>
                          <h1>
                            <%= message %>
                          </h1>
                        </li>
                        <% }) %>
                  </ul>
                  <% } %>

                    <% } else { %>
                      <p class="pl-5 pt-5 text-danger">Products Out of stock</p>
                      <% } %>
            </div>
            <span id="maxStock" class="text-danger" style="display: none;">Some products are out of stock or the
              quantity exceeds available stock.</span>
          </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    document.getElementById("submitForm").addEventListener("submit", function (event) {
      event.preventDefault();

      const products = JSON.parse(document.querySelector('input[name="products"]').value);
      let allProductsInStock = true;
      const maxStockError = document.getElementById('maxStock')
      products.forEach(product => {
        if (product.productId.stock < product.quantity) {
          allProductsInStock = false;
          return;
        }
      });

      if (!allProductsInStock) {
        maxStockError.style.display = 'inline'
        alert("Some products are out of stock or the quantity exceeds available stock.");
        return;
      }

      fetch("/confirmorder", {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)),
      })
        .then(response => response.json())
        .then(data => {
          if (data.codsuccess && data.cod) {
            location.href = "/orderSuccess";
          } else {
            razorPayment(data.order);
          }
        })
        .catch(error => console.error('Error:', error));
    });

    function razorPayment(order) {
      var options = {
        "key": "rzp_test_GSZimvTeuWT26L",
        "amount": order.amount,
        "currency": "INR",
        "name": "ShopEasy",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id,
        "handler": function (response) {
          verifyPayment(response, order)
        },
        "prefill": {
          "name": "<%= users.name %>",
          "email": "<%= users.email %>",
          "contact": "<%= users.mobile %>"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3399cc"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }

    function verifyPayment(response, order) {
      const data = {
        response,
        order
      };

      fetch('/verifyPayment', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(response => response.json())
        .then(data => {
          if (data.success === true) {
            location.href = '/orderSuccess';
          } else {
            alert('Payment Failed!!');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('An error occurred while processing the payment.');
        });
    }


  </script>

  <%- include('../layouts/footer.ejs') %>