<%- include('../layouts/header.ejs') %>

<section class="checkout_area section_padding">
    <div class="container">
      
      <!-- <div class="cupon_area">
        <div class="check_title">
          <h2>
            Have a coupon?
            <a href="#">Click here to enter your code</a>
          </h2>
        </div>
        <input type="text" placeholder="Enter coupon code" />
        <a class="tp_btn" href="#">Apply Coupon</a>
      </div> -->
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
            <form class="row contact_form" action="/confirmorder" method="post">
              <input type="hidden" name="userId" value="<%= users._id %>">
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="first" name="name" value="<%= users.name %>" readonly/>                
              </div>
              <div class="col-md-6 form-group p_star">
                <!-- <input type="text" class="form-control" id="last" name="name" />
                <span class="placeholder" data-placeholder="Last name"></span> -->
              </div>
              
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="number" name="mobile" value="<%= users.mobile %>" readonly/>
                
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="email" name="email" value="<%= users.email %>" readonly/>
              </div>
              <div class="payment_item active">
                <% users.address.forEach((address, index) => { %>
                  <div class="radion_btn">
                    <input type="radio" id="f-option<%= index %>" name="address" required value="<%= JSON.stringify(address) %>" <% if (index === 0) { %>checked<% } %>/>
                    <label for="f-option<%= index %>"><%= address.buildingName %> , <%= address.city %> , <%= address.district %> , <%= address.ZIPcode %></label>
                    <div class="check"></div>
                  </div> 
                <% }) %>
                <a href="/addAddress" class="text-primary">+Add new address</a>
              </div>
              </div>
              <div class="col-lg-4">
              <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                <% let subtotal = 0 %>
                <% carts.products.forEach((cart) => { %>
                    <% const total = cart.price * cart.quantity %>
                    <% subtotal += total %> 
                <li>
                  <a href="#"><%= cart.productId.name %>
                    <span class="middle">x <%= cart.quantity %></span>
                    <span class="last">$<%= total %></span>
                  </a>
                </li>
                <% }) %>
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal
                    <span>$<%= subtotal %></span>
                  </a>
                </li>
                <!-- <li>
                  <a href="#">Shipping
                    <span>Flat rate: $50.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                    <span>$2210.00</span>
                  </a>
                </li> -->
              </ul>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="payment" value="COD"/>
                  <label for="f-option5">Cash on Delivery</label>
                  <div class="check"></div>
                </div>
               
              </div>
              <div class="payment_item active">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="payment" value="Razorpay" />
                  <label for="f-option6">Online Payment </label>
                  <div class="check"></div>
                </div>
              </div>
              
                <input type="hidden" name="products" value="<%= JSON.stringify(carts.products) %>">
               <input type="hidden" name="amount" value="<%= subtotal %>">
              <button type="submit" class="genric-btn success-border form-control" id="vp">Confirm Order</button>
              </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_FXivEvC14z0n1x", // Enter the Key ID generated from the Dashboard
    "amount": "<%= subtotal * 100 %>", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "ShopEasy", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
     //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        fetch('/confirmorder' , {
          method : 'POST' ,
          headers: {
                'Content-Type': 'application/json',
            } ,
            body: JSON.stringify({
            userId: '<%= users._id %>',
            amount: '<%= subtotal %>',
            payment: 'Razorpay',
            products: JSON.stringify(carts.products),
            address: JSON.stringify(users.address), // Add the logic to get the selected address
        }),
        })
        .then(response => response.json())
    .then(data => {
        console.log(data); // Log the response from the server
        // Optionally, you can redirect to a success page or handle the response accordingly
    })
    .catch(error => {
        console.error(error);
        // Handle the error if any
    });
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
        "name": "<%= users.name %>", //your customer's name
        "email": "<%= users.email %>", 
        "contact": "<%= users.mobile %>"  //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});

  document.getElementById('vp').onclick = function(e){
    
    e.preventDefault();
    if (document.getElementById('f-option6').checked) {
        // Open Razorpay modal
        rzp1.open();
    } else {
        // If "Cash on Delivery" is selected, submit the form directly
        document.forms[0].submit();
    }
}

</script>

  <%- include('../layouts/footer.ejs') %>