<%- include('../layouts/header.ejs') %>

<div class="container">
    <nav aria-label="breadcrumb" style="background-color: white;">
        <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
        </ol>
    </nav>
    <h1 class="fw-bold mt-3">Edit Personal Information</h1>
        <form action="/editprofile" method="POST">
            <input type="hidden" name="id" value=" <%= users._id %>">
            <div class="mb-3 row mt-5">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" value="<%= users.name %>" required>
                </div>
            </div>
            <div class="mb-3 row mt-5">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" name="email" value="<%= users.email %>" required>
                </div>
            </div>
            <div class="mb-3 row mt-5">
                <label for="mno" class="col-sm-2 col-form-label">Mobile Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mno" name="mno" value="<%= users.mobile %>" required>
                </div>
            </div>
        <input type="submit" value="Update" class="genric-btn success-border circle form-control mt-4">
    </form>
</div>

<%- include('../layouts/footer.ejs') %>