<%- include('../layouts/header.ejs') %>
<section class="p-5">
 <div class="container">  
    <nav aria-label="breadcrumb" style="background-color: white;">
        <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My orders</li>
        </ol>
    </nav>
    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date</th>
            <th scope="col">Total amount</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% orders.forEach ( (order,index) => { %> 
            <% order.products.forEach((product,productIndex) => { %>
                <tr>
                    <% if(productIndex === 0) { %>
                        <th scope="row" rowspan="<%= order.products.length %>"><%= index+1 %></th>
                    <% } %>
                    <td><a href="/vieworder?id=<%= order._id %>" class="text-dark"><%= product.productId.name %></a></td>
                    <td><%= product.quantity %></td>
                    <td><%= order.date.toLocaleDateString('en-GB') %></td>
                    <% if(productIndex === 0) { %>
                        <td rowspan="<%= order.products.length %>"><%= order.amount %></td>
                        <td rowspan="<%= order.products.length %>"><%= order.status %></td>
                        <% if (!( order.status === "Cancelled" || order.status === "Delivered" || order.status === "Return Requested" || order.status === "Returned" || order.status === "Pending")) { %>
                            <td class="text-danger">
                                <a href="#" onclick="showCancelConfirmationModal('<%= order._id %>')" class="text-danger">Cancel Order</a>
                            </td>
                        <% } else if (order.payment === "Online Payment" && order.paymentStatus === "Pending") { %>
                            <td class="text-danger">
                                <a href="#" onclick="continuePayment('<%= order._id %>')" class="text-primary">Continue Payment</a><br>
                                <a href="#" id="continuePayment" onclick="showCancelConfirmationModal('<%= order._id %>')" class="text-danger">Cancel Order</a>
                            </td>
                        <% } else if(order.status === "Delivered") { %>
                            <td class="text-danger">
                                <a href="#" onclick="showReturnConfirmationModal('<%= order._id %>')" class="text-danger h6">Return Order</a>
                            </td>
                        <% } %>
                    <% } %>
                </tr>
            <% }) %>
        <% }) %>
        </tbody>
    </table>
</div>
</section>
<!-- Confirmation Modal for Order Cancellation -->
<div class="modal fade" id="cancelConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="cancelConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelConfirmationModalLabel">Confirm Order Cancellation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this order?
            </div>
            <div class="modal-footer">
                <button type="button" class="genric-btn success-border" data-dismiss="modal">Cancel</button>
                <button type="button" class="genric-btn danger-border" id="cancelConfirmBtn">Cancel Order</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal for Order Return -->
<div class="modal fade" id="returnConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="returnConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="returnConfirmationModalLabel">Confirm Order Return</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to return this order?
            </div>
            <div class="modal-footer">
                <button type="button" class="genric-btn success-border" data-dismiss="modal">Cancel</button>
                <button type="button" class="genric-btn danger-border" id="returnConfirmBtn">Return Order</button>
            </div>
        </div>
    </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function showCancelConfirmationModal(orderId) {
    
    $('#cancelConfirmationModal').modal('show');

    document.getElementById('cancelConfirmBtn').onclick = async function () {
        try {
            const response = await fetch('/cancelOrder?id=' + orderId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json();

            window.location.href = '/orders';
        } catch (error) {
            console.error('Error:', error);
        }
    };
}

function showReturnConfirmationModal(orderId) {
    
    $('#returnConfirmationModal').modal('show');

    document.getElementById('returnConfirmBtn').onclick = async function () {
        try {
            const response = await fetch('/returnOrder?id=' + orderId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json();

            window.location.href = '/orders';
        } catch (error) {
            console.error('Error:', error);
        }
    };
}

function continuePayment(orderId) {
        fetch("/continuePayment", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ orderId: orderId })
        })
        .then(response => response.json())
        .then(data => {
            razorPayment(data.order);
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }

function razorPayment(order) {
      var options = {
        "key": "rzp_test_GSZimvTeuWT26L",
        "amount": order.amount,
        "currency": "INR",
        "name": "ShopEasy",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id,
        "handler": function (response) {
          verifyPayment(response, orders._id)
        },
        "prefill": {
          "name": "<%= users.name %>",
          "email": "<%= users.email %>",
          "contact": "<%= users.mobile %>"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3399cc"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }

    function verifyPayment(response, order) {
      const data = {
        response,
        order
      };  

      fetch('/verifyPayment', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(response => response.json())
        .then(data => {
          if (data.success === true) {
            window.location.href = '/orderSuccess';
          } else {
            alert('Payment Failed!!');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('An error occurred while processing the payment.');
        });
    }


</script>


<%- include('../layouts/footer.ejs') %>

