<% if ( user ) { %> 
    <%- include('../layouts/header.ejs') %>
<% } else { %>
    <%- include('../layouts/homeHeader.ejs') %>
<% } %>
<style>
    .hidden-button {
        border: none;
        background: transparent;
    }
</style>
<section class="p-4">
    <div class="row justify-content-end mb-3">
        <div class="col-md-auto">
            <select id="sortBy" onchange="sortProducts(this.value)" class="form-select">
                <option value="">Sort by price</option>
                <option value="priceAsc">Low to High</option>
                <option value="priceDesc">High to Low</option>
            </select>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <% products.forEach((product) => { %>
                <a href="/productdetails?id=<%= product._id %>">
            <div class="col-md-3 p-3">
                <div class="card position-relative" style="width: 15rem; height: 27rem;">
                    <img src="/uploads/<%= product.images[0] %>" alt="catimg" height="300px" width="250px" class="card-img-top zoomable-image">
                    <div class="d-flex justify-content-end position-absolute" style="top: 0; right: 0;">
                    
                        <% if (JSON.stringify(wishId).includes(product._id)){ %>
                            <button type="button" onclick="addToWishlist('<%= product._id %>', event)" class="hidden-button"><i class="fas fa-heart" style="color: rgb(244, 27, 27);"></i></button>
                        <% } else { %> 
                            <button type="button" onclick="addToWishlist('<%= product._id %>', event)" class="hidden-button"><i class="fas fa-heart" style="color: rgb(191, 197, 197);"></i></button>
                        <% } %>
                </div>
                    <div class="card-body">
                        <h5><%= product.name %></h5>
                        <p><span>₹<%= product.price %></span></p>
                        <!-- <a href="/addtocart" class="genric-btn success-border">Add to Cart</a> -->
                        <form action="/addtocart" method="POST">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <button type="submit" class="genric-btn success-border">Add to Cart</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </a>
        <% }) %>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% if (currentPage > 1) { %>
                        <li class="page-item mx-1"><a class="page-link" href="?page=<%= currentPage - 1 %>">«</a></li>
                    <% } %>
                    <% for (let j = 1; j <= totalPages; j++) { %>
                        <li class="page-item mx-1 <%= j === currentPage ? 'active' : '' %>"><a class="page-link" href="?page=<%= j %>"><%= j %></a></li>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                        <li class="page-item mx-1"><a class="page-link" href="?page=<%= currentPage + 1 %>">»</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</section>
<script>
    function sortProducts(sortOption) {
    const currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set('sort', sortOption);
    window.location.href = currentUrl.toString();
}

    function addToWishlist(productId , event){
        event.preventDefault()
        const addButton = event.target;
        fetch ('/addToWishlist' , {
            method : 'POST' ,
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify({ productId: productId })
        })
        .then(response => response.json())
        .then(data => {
            if(data.success){
                swal( "" , "Product added to wishlist." , "success")
                addButton.style.color = 'red';
            } else {
                swal( "" , "Product already in wishlist." , "error")
            }
        })
        .catch(error => swal(error))
    }
    
</script>
<%- include('../layouts/footer.ejs') %>