<%- include('../layouts/header.ejs') %>
<section class="p-5">
<div class="container p-5">
    <nav aria-label="breadcrumb" style="background-color: white;">
        <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/orders">My Orders</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= orders._id %></li>
        </ol>
    </nav>
    
        <div class="rounded shadow-sm p-3" style="border: 1px solid #e1d9d9;">
            <h4>Delivery Address</h4>
            <h5><%= orders.user.name %></h5>
            <p><%= orders.address.buildingName %> , <%= orders.address.city %></p>
            <p><%= orders.address.district %> , <%= orders.address.ZIPcode %></p>
            <p>Phone Number : <%= orders.user.mobile %></p>
            <p><%=  %></p>
        </div>

        <div class="rounded shadow-sm p-3 mt-4" style="border: 1px solid #e1d9d9;">
            <div class="row">
                <div class="col-md-6">
                    <h4>Items in this order</h4>
                </div>
                <% if(orders.status === "Delivered") { %>
                    <div class="col-md-6 text-md-right">
                        <button onclick="downloadInvoice('<%= orders._id %>')" class="genric-btn success-border medium">Download Invoice</button>
                    </div>
                <% } %>
            </div>
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">Product Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.products.forEach((product) => { %>
                        <tr>
                            <td><img src="/uploads/<%= product.productId.images[0] %>" alt="img1" height="100px" width="100px"></td>
                            <td><%= product.productId.name %></td>
                            <td><%= product.quantity %></td>
                            <td><%= product.price * product.quantity %></td>
                            <td><%= product.status %></td>
                            <% if (!( product.status === "Cancelled" || product.status === "Delivered")) { %>
                                <td class="text-danger">
                                    <button class="btn-dark mt-5 productCancelBtn" data-prodId="<%= product._id %>" data-orderId="<%= orders._id %>">Cancel product</button>
                                </td>
                            <% } else if(product.status === "Delivered") { %>
                                <td class="text-danger">
                                    <a href="#"  class="text-danger h6">Return Order</a>
                                </td>
                            <% } %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <p>Total : <%= orders.amount + orders.coupon.couponDiscount %></p>
            <p>Discount : <%= orders.coupon.couponDiscount %></p>
            <p>Subtotal : <%= orders.amount %></p>
            <p>Payment Method : <%= orders.payment %></p>
            <p>Status : <%= orders.status %></p>
        </div>
    
</div>
</section>


<script>
    const productCancelBtns = document.querySelectorAll('.productCancelBtn')
    productCancelBtns.forEach((btn) => {
        btn.addEventListener('click', cancelProductOrderFn)
    })

    async function cancelProductOrderFn() {
        try {
            const productId = this.getAttribute('data-prodId')
            const orderId = this.getAttribute('data-orderId')
            Swal.fire({
                title: "Are you sure you want to cancel this order?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Cancel Order !"
            }).then(async (result) => {
                if (result.isConfirmed) {

                    const response = await fetch(`/cancelProduct`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ productId, orderId }),
                    })

                    const data = await response.json();
                    if (data.message) {
                        window.location.href = `/vieworder?id=${orderId}`;
                    }

                }
            });
        } catch (error) {
            console.log(error.message);
        }
    }
    function downloadInvoice(orderId) {
        const url = `http://localhost:3000/invoice?id=${orderId}`;
        const link = document.createElement("a");
        link.href = url;
        link.download = "invoice.pdf";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>
<%- include('../layouts/footer.ejs') %>
