<%- include('../layouts/header.ejs') %>
    <div class="container">
        <nav aria-label="breadcrumb" style="background-color: white;">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Coupons</li>
            </ol>
        </nav>
        
        <% couponData.forEach ((coupon)=> { %>
            <div class="rounded shadow-sm p-3 mb-3" style="border: 1px solid #e1d9d9;">
                <h3><%= coupon.description %></h3>
                <div class="input-group">
                    <input type="text" value="<%= coupon.couponCode %>" id="myInput" class="form-control">
                    <button onclick="myFunction()" class="genric-btn primary-border"><i class="fa fa-solid fa-copy"></i></button>
                </div>
                
                <p>
                   Discount amount : <%= coupon.discountAmount %> 
                </p>
                <p>
                    Expiry Date : <%= coupon.expiryDate.toLocaleDateString('en-GB') %> 
                </p>
            </div>
            <% }) %>
    </div>
    <script>
        function myFunction() {
            var copyText = document.getElementById("myInput");

            copyText.select();
            copyText.setSelectionRange(0, 99999);

            navigator.clipboard.writeText(copyText.value);

            swal("Coupon Code copied")
        }
    </script>
    <%- include('../layouts/footer.ejs') %>